<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <h1> Test </h1>
        <candlestick-chart-element />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import CandlestickChartElement from '@/components/elements/CandlestickChartElement'


export default {
  name: 'Home',
  components: {
    CandlestickChartElement,
  }
}
</script>
