<template>
    <v-container>
        <div>
            chart here
            <div class="chart-box">
                <div id="chart-candlestick">
                    <apexchart type="candlestick" height="290" :options="chartOptions" :series="series"></apexchart>
                </div>
            </div>
        </div>
    </v-container>
</template>

<script>

const seriesData = [
    [1538856000000, [6593.34, 6600, 6582.63, 6600]], 
    [1538856900000, [6595.16, 6604.76, 6590.73, 6593.86]],
    [1538857800000, [6595.16, 6604.76, 6590.73, 6593.86]],
    [1538858700000, [6595.16, 6604.76, 6590.73, 6593.86]],
];

import VueApexCharts from 'vue-apexcharts'

  export default {
    name: 'CandlestickChartElement',
    components: {
        apexchart: VueApexCharts,
    },
    data: () => ({
        series: [
            {
                data: seriesData,
            },
        ],
        chartOptions: {
            chart: {
                type: 'candlestick',
                height: 290,
                id: 'candles',
                toolbar: {
                    autoSelected: 'pan',
                    show: false
                },
                zoom: {
                    enabled: true
                },
            },
            plotOptions: {
                candlestick: {
                    colors: {
                        upward: '#00cd00',
                        downward: '#cd0000'
                    }
                }
            },
            xaxis: {
                type: 'datetime',
            }
        },
    }),
  }
</script>
